.main-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1420px;
  height: 72px;
}
.nav-logo{
    width: 76px;
    height: 42px;
   margin: 15px 0 0 85px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  height: 24px;
  margin-top: 24px;
}
.info a {
  text-decoration: none;
  margin-left: 24px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.info a:hover {
  color: blue;
}
.login button{
  margin-top: 21px;
  background-color:  #D01C28;
  color:white;
  padding: 6px 16px 6px 16px;
  margin: 10px;
  border: none;
}



