*{
  margin: 0;
  padding: 0;
}
.main-conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1420px;
  height: 72px;
}
.nav-logo {
  width: 76px;
  height: 42px;
  margin: 15px 0 0 85px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 333px;
  height: 24px;
}
.info a {
  text-decoration: none;
  margin-left: 24px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: Poppins;
}
.info a:hover {
  color: blue;
}
.login button {
  background-color: #d01c28;
  color: white;
  padding: 6px 16px 6px 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins;
}
